html
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/apple-icon.png')
    link(rel='shortcut icon', sizes='96x96', href='/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    link(href='/bootstrap3/css/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/css/gsdk.css', rel='stylesheet')
    link(href='/assets/css/demo.css', rel='stylesheet')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/css/pe-icon-7-stroke.css', rel='stylesheet')

    link(href='https://vjs.zencdn.net/7.7.6/video-js.css', rel='stylesheet')
    // 그 담에 내가 정의한 css 불러오고
    link(href='/main.css', rel='stylesheet')
    link(href='/modal.css', rel='stylesheet')
    link(href='/chat.css', rel='stylesheet')
    link(href='/toggle.css', rel='stylesheet')
    title iCam-plus prototype
  body
    .main_container
      .left_container
        #player_header
          
          if (`${lectureId}` === '1')
            p.player_header_title(style="font-size:x-large; font-weight:bold;") 
              a(href='/#prototype')
                img(src='/assets/img/skku.svg' title="홈으로 돌아가기" height="70%")
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 캐시 메모리 - 김재현
          else
            p.player_header_title(style="font-size:x-large; font-weight:bold;") 
              a(href='/#prototype')
                img(src='/assets/img/skku.svg' title="홈으로 돌아가기" height="70%")
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 컴퓨터의 역사 - 강준우
          button#entendBtn.extend_tab_button  질문창 닫기
        video#sample-video.video-js(controls='', preload='auto', data-setup='{}, ')
          // src에 내가 넣고싶은 영상 위치 넣고
          source(src=`/sample${lectureId}.mp4`, type='video/mp4')
      .right_container
        #index_bar
          select#class_index_selector
            option(value='1') 1강. 캐시 메모리 - 김재현
            option(value='2') 2강. 컴퓨터의 역사 - 강준우
        #select_Button_bar
          button.index_button 질문 리스트
          button.index_button.video_chat_button 화상 질문
        #question_container
          #video_chat_container
            .office_hour
              div#office_title Office Hour
              if officehour === null
                form(action='/officehour' method='post')
                  input(type="hidden", name="lectureId", value=`${lectureId}`)
                  label.office_day_title(for='office_day') 요일
                  input#office_day(type="text", name="office_day" placeholder="ex.월" required="true")
                  label.office_sh_title(for='office_start_hour') 시작시간
                  input#office_start_hour(type="text", name="office_start_hour" placeholder="ex.13" required="true" )
                  label.office_eh_title(for='office_end_hour') 종료시간
                  input#office_end_hour(type="text", name="office_end_hour" placeholder="ex.15" required="true")
                  button#comment_upload_button_original(type='submit') 설정
              else 
                form(action='/officehour' method='post')
                  input(type="hidden", name="lectureId", value=`${lectureId}`)
                  label.office_day_title(for='office_day') 요일
                  input#office_day(type="text", name="office_day" placeholder="ex.월" required="true" value=`${officehour.day}`)
                  label.office_sh_title(for='office_start_hour') 시작시간
                  input#office_start_hour(type="text", name="office_start_hour" placeholder="ex.13" required="true" value=`${officehour.begin}`)
                  label.office_eh_title(for='office_end_hour') 종료시간
                  input#office_end_hour(type="text", name="office_end_hour" placeholder="ex.15" required="true" value=`${officehour.end}`)
                  button#comment_upload_button_original(type='submit') 설정
            .chat_comment
              #chat_title 
                div.chat_title webex 사전 질문 목록
              #chat_middle_container
                each c in comments
                  if c.available === 1
                    if c.commentType === 2
                      .prequestion_container
                        #pre_contents
                          #preq_writer 작성자 : #{c.author}
                          if c.author === "test"
                            div(id='commentId', style='display:none') #{c._id}
                            .preq_del_btn &times
                        #preq_text #{c.text}
                      br
              #chat_submit
                form(action='/comment' method='post')
                  input(type="hidden", name="lectureId", value=`${lectureId}`)
                  input(type="hidden", name="commentType", value="2")
                  input#chat_comment(type='text', name="text", required='true' placeholder="질문 내용을 입력하세요.")
                  button#chat_comment_btn(type='submit') 질문

          #main_question
            //- a.btn.btn-info(href='#demo', data-toggle='collapse') 이 코드 잘 적용하면
            //-   #demo.collapse
            //-     | collpase 가능하지 않을까
            each q in questions
              if lectureId === `${q.lecture}`
                #question_bar
                  div(id='questionListId', style='display:none') #{q._id}
                  a.time_stamp#queTim(onclick='setTime(this);') #{parseInt(q.time/60) < 10 ? `0${parseInt(q.time/60)}` : parseInt(q.time/60)}:#{(q.time%60) < 10 ? `0${q.time%60}` : q.time%60}
                  .question_title#queTit #{q.title}
                  button.expand_button#expBtn
                  //- 공개/비공개 토글
                  if q.author === "test"
                    if q.hide === 0
                      button.toggleButton 공개
                    else if q.hide === 1
                      button.toggleButton.openNotOpen 비공개
                    div#questionHide(style='display:none') #{q._id}
                  .question_container
                    #question_person
                      p
                        br
                        |  작성자 : #{q.author}
                    #question_text
                      br
                      p(style='word-break:break-all')
                        |                 #{q.content}
                    each c in comments
                      if c.available === 1
                        if `${c.question}` === `${q._id}`
                          #commentList
                            #question_professor
                              p
                                br
                                br
                                |  답변자 : #{c.author}
                              if c.author === 'test'
                                div(id='commentId', style='display:none') #{c._id}
                                .cmt_delete_btn &times
                            #answer_text
                              br
                              p(style='word-break:break-all')
                                |                 #{c.text}
                    #comment_container
                      .btn-container
                        form(action='/comment' method='post')
                          input(type="hidden", name="lectureId", value=`${lectureId}`)
                          input(type="hidden", name="commentType", value="1")
                          input#questionIdValue(type="hidden", name="questionId", value=`${q._id}`)
                          input#comment_container(type='text', name="text", required='true')
                          button#comment_upload_button(type='submit')  답변 작성하기
                    if `${q.author}` === 'test'
                      .btn_container
                        button.editBtn#edit_button(name=`${q._id}`)  질문 수정하기
                        form(action='/deleteQuestion' method='post')
                          input(type="hidden", name="lectureId", value=`${lectureId}`)
                          input(type="hidden", name="questionId", value=`${q._id}`)
                          button#edit_button(type='submit', onclick="return confirm('정말 삭제하시겠습니까?')")  질문 삭제하기


          #question_bottom
            button.question_button 질문하기
            

      // 질문하기
      #modal1
        .modal__container
          form(action='/question' method='post')
            .modal__header
              .header__logo
                i.fas.fa-pencil-alt
                .modal__header__title
                  | 질문 작성
              span.close#questionClose(onclick="exitModal1();") &times;
            .modal__title
              .title__time
                span.time__label 시간
                input(type='hidden', name='lectureId', value=`${lectureId}`)
                input#questionFormMin(type='text', name='minute', required='true')
                label.minute__label(for='questionFormMin') 분
                input#questionFormSec(type='text', name='second', required='true')
                label.second__label(for='questionFormSec') 초
                span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                label(for='oc') 공개여부 : &nbsp;&nbsp;
                select#oc(name='oc')
                  option(value='공개') 공개
                  option(value='비공개') 비공개
              .title__title
                label.title__label(for='q__title') 제목
                input#q__title(type='text', name='title', maxlength='18', placeholder='제목은 최대 18자까지 작성 가능합니다.' required='true')
            .modal__contents
              textarea#textarea__contents(name='content', required='true')
            .modal__footer
              button.submitBtn(type='submit' value='작성하기')
                | 작성하기
      
      // 수정하기
      #modal2
        .modal__container
          form(action='/editQuestion' method='post')
            .modal__header
              .header__logo
                i.fas.fa-pencil-alt
                .modal__header__title
                  | 질문 수정하기
              span.close#editClose(onclick="exitModal2();") &times;
            .modal__title
              .title__time
                span.time__label 시간
                input#questionIdForEdit(type='hidden', name='questionId' value='1')
                input(type='hidden', name='lectureId', value=`${lectureId}`)
                input#editFormMin(type='text', name='minute', required='true')
                label.minute__label(for='editFormMin') 분
                input#editFormSec(type='text', name='second', required='true')
                label.second__label(for='editFormSec') 초
              .title__title
                label.title__label(for='e__title') 제목
                input#e__title(type='text', name='title', maxlength='18', placeholder='제목은 최대 18자까지 작성 가능합니다.' required='true')
            .modal__contents
              textarea#e_textarea__contents(name='content', required='true')
            .modal__footer
              button.submitBtn(type='submit' value='수정하기')
                | 수정하기

    script.
      function setTime(obj) {
        var value = obj.innerText;
        var timeList = value.split(':');
        var time = parseInt(timeList[0])*60 + parseInt(timeList[1]);
        var player = videojs('sample-video');
        player.currentTime(time);
        player.pause();
      }
      function exitModal1() {
        document.getElementById('modal1').style.display = 'none';
      }
      function exitModal2() {
        document.getElementById('modal2').style.display = 'none';
      }
    // 기본 js 먼저 불러오고
    script(src='https://vjs.zencdn.net/7.7.6/video.js')
    // 그 담에 내가 정의한 js 불러오면 됨
    script(src='/js/videojs.js')
    script(src='/js/jquery-3.5.1.js')
    script(src='/js/source.js')
    script(src="https://kit.fontawesome.com/f1edfc6fcb.js" crossorigin="anonymous")
    script(src='/js/modal.js')
    script(src='/js/toggle.js')